# RH Negativo V2
# Dejar exactamente UNA REACT_APP_API_URL activa.

# LOCAL
REACT_APP_API_URL=http://localhost:3001/routes

# HOSTINGER / PRODUCCIÓN
#REACT_APP_API_URL=https://rhnegativo.3devsnet.com/api/routes
